* {
    margin: 0;
    padding: 0;
    font-family: "Host Grotesk", sans-serif;
    background-color: #F3F3E0; 
}
.sidenav{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border: 2px solid #133E87;
}
  
  /* The navigation menu links */
.sidenav nav a {
    padding: 14px 8px 14px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #608BC1;
    display: block;
}
  /* When you mouse over the navigation links, change their color */
.sidenav nav a:hover {
    color: #CBDCEB;
    background-color: #4d4e53;
}
.sidenav h1{
    text-align: center;
    padding-bottom: 10px;
}

.sidenav ul{
    text-decoration: none;
}

.sidenav footer p{
    padding: 14px 8px 14px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #608BC1;
    display: block;
}

.sidenav hr{
    border: 1px solid #133E87;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    overflow:hidden;
    text-overflow: ellipsis;
    margin-top: 25px;
    margin-bottom: 25px;
}

table, td, th{
    border: 1px solid #133E87;
    padding: 10px;

}

.main {
    margin-left: 300px; /* Same as the width of the sidebar */
    padding: 15px;
}

.td-media {
    width: 100%;
}

#specifich1{
    font-size: 27px ;
}

@media screen and (max-width: 425px) {
    .sidenav {
        width: 100vw;
        max-width: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 200px;
        background-color: #F3F3E0;
        box-sizing: border-box;
        overflow-y: auto;
        border-bottom: 2px solid #133E87;
        overflow-x: hidden;
        z-index: 1; /* Stay on top */
        padding: 0;
    }

    .main {
        width: 1024px;
        max-width: none;
        margin: 210px 10px 0 10px;
        padding: 0;
        
    }
}